<h2>Contact US</h2>
<div class="contacts">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <mat-card class="example-card">
          <mat-card-title-group>
            <mat-card-title>support@almentor.net </mat-card-title>
            <mat-card-subtitle>email</mat-card-subtitle>
            <img
              mat-card-sm-image
              src="https://img.icons8.com/pastel-glyph/100/000000/email--v3.png"
            />
          </mat-card-title-group>
        </mat-card>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <mat-card class="example-card">
          <mat-card-title-group>
            <mat-card-title>Egypt</mat-card-title>
            <mat-card-subtitle>physical branch </mat-card-subtitle>
            <img
              mat-card-sm-image
              src="https://img.icons8.com/dotty/80/000000/worldwide-location.png"
            />
          </mat-card-title-group>
        </mat-card>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <mat-card class="example-card">
          <mat-card-title-group>
            <mat-card-title>Almentor Egypt</mat-card-title>
            <mat-card-subtitle>Twitter</mat-card-subtitle>
            <img
              mat-card-sm-image
              src="https://img.icons8.com/cotton/64/000000/happy-study--v2.png"
            />
          </mat-card-title-group>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<h2>Careers</h2>
<div class="career">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <mat-card class="example-card">
          <mat-card-title-group>
            <mat-card-title>mobile developer</mat-card-title>
            <mat-card-subtitle>android developer-java</mat-card-subtitle>
            <img
              mat-card-sm-image
              src="https://img.icons8.com/material-sharp/48/000000/ios-development.png"
            />
          </mat-card-title-group>
        </mat-card>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <mat-card class="example-card">
          <mat-card-title-group>
            <mat-card-title>php developer</mat-card-title>
            <mat-card-subtitle> backend developer </mat-card-subtitle>
            <img
              mat-card-sm-image
              src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-develop-programming-and-coding-flatart-icons-outline-flatarticons.png"
            />
          </mat-card-title-group>
        </mat-card>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <mat-card class="example-card">
          <mat-card-title-group>
            <mat-card-title>Front end developer</mat-card-title>
            <mat-card-subtitle>React developer</mat-card-subtitle>
            <img
              mat-card-sm-image
              src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-web-design-graph-design-kiranshastry-lineal-kiranshastry.png"
            />
          </mat-card-title-group>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright text-center py-3">
  © 2020 Copyright:
  <a href="#"> RawanTarek.com</a>
</div>
