<nav class="navbar sticky-top navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" routerLink="">
        <img class="logo" alt="" src="../assets/almentorLogo.jpeg" />
        almentor</a
      >
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="contact-us">Contact us</a>
        </li>
      </ul>
      <div class="ms-auto">
        <button type="button" class="btn btn-outline-light" routerLink="todo">
          What to do today
        </button>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
