.todo {
  color: black;
}

.todo h2 {
  font-size: 40px;
  padding: 10px;
}

.btn {
  margin: 15px;
  color: white;
}

.title-one {
  margin-top: 50px;
}
.btn-add {
  margin: 10px;
  color: black;
}
mat-card {
  border-radius: 1px;
}

.tasks {
  padding: 50px;
  height: 100vh;
  background-color: teal;
  color: aliceblue;
}
.input {
  padding: 7px;
}
